<div class="btn btn-default navbar-btn">
  <a href="/permission"> Permission</a>
</div>
<div class="btn btn-default navbar-btn">
  <a href="/role"> Roles</a>
</div >
<div class="btn btn-default navbar-btn">
  <a href="/module"> Modules</a>
</div >
<div class="btn btn-default navbar-btn">
  <a href="/users"> Users</a>
</div>
<div class="btn btn-default navbar-btn">
  <a href="/userrolemaping"> Users & Roles</a>
</div>
<div class="btn btn-default navbar-btn">
  <a href="/usermodulemapping"> Users & Modules</a>
</div>