<div class="row well">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h4>User and Module Mapping</h4>
    <table>
      <thead>
        <th>
        </th>
        <th *ngFor="let module of _modules">
          {{module}}
        </th>
      </thead>
      <tbody> 
       <tr *ngFor="let user of _users">
         <td>
            {{user}}
         </td>
         <td *ngFor="let module of _modules" >
        <input type="checkbox" />
        </td>
         <tr>
      </tbody>
    </table>
  </div>
</div>