.FiledList li{
padding: 1em 0em;
}
.title{
    padding:0 !important;
}

.footer{
    padding:10px !important;
}
table th, td {
    width: 20%;
    border: 1px solid;
    text-align: center;
}
table{
    word-wrap: break-word;
    border: 1px solid;
}
